version: '3.8'

services:
  portfolio:
    build: 
      context: .
      dockerfile: Dockerfile
      args:
        - VITE_SUPABASE_URL=${VITE_SUPABASE_URL}
        - VITE_SUPABASE_ANON_KEY=${VITE_SUPABASE_ANON_KEY}
    volumes:
      - ./.env:/app/.env
    env_file:
      - .env
    ports:
      - "3000:3000" #ini kalau mau deploy project lain tidak boleh  3000:3000 tapi 3001:3000 . kalau yang di belakang diganti sesuai kebutuhan framewrok 
    environment:
      - NODE_ENV=production
    restart: unless-stopped
    container_name: portfolio-backend
